version: '3.8'
services:
  app:
    image: openjdk:23-jdk-slim
    volumes:
      - ./build/libs:/app/build/libs
    working_dir: /app
    command: java -jar /app/build/libs/mini-doodle-0.0.1-SNAPSHOT.jar
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mydatabase
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
  db:
    image: postgres:17.5
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
